
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  display: grid;
  flex-direction: row; 
  flex-wrap: wrap; 

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(211, 28, 22, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 14px;

  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.header-image {
  width: 100%; 
  max-width: 600px; 
  margin-top: -120px;
  border-radius: 30%;
  height: auto; 
  flex: 1;
  transition: transform 0.3s ease; 
}

.header-image:hover {
  transform: scale(1.05); 
}

.align-items-center{
  margin:0 auto;
  max-width: 1000px;
  align-items: center;
  align-content: center;
  
}



.txt-rotate > .wrap {
  font-family: 'Courier New', monospace;
  border-right: 0.08em solid #666;
  font-weight: 1000;
}

@media (max-width: 576px) {
  .header-image {
      margin-top: 15px;
  }
}